@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');


body,
h1,
h2,
p,
li,
ul,
a {
   margin: 0px;
   padding: 0px;
}

* {
   box-sizing: border-box;
}

body {
   font-family: "Poppins", Helvetica, Arial;
   color: rgb(19, 19, 19);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
}

/* SUPER INFO ------------- */

.superinfo-bg {
   background: rgb(15, 15, 15);
   color: rgb(238, 238, 238);
}

.superinfo-bg a {
   color: rgb(238, 238, 238);
}

.superinfo {
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   margin: 0 auto;
   justify-content: space-between;
   padding: 12px 0px;
}

/* MENU ------------------- */

.menu-bg {
   background: rgb(27, 27, 27);
   color: white;
}

.menu-bg a {
   color: white;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   padding: 10px 0;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}

.menu-logo a {
   font-family: "Roboto", Arial;
   font-weight: bold;
   font-size: 2.25em;
   margin: 0 10px;
}

.menu-nav ul {
   display: flex;
   flex-wrap: wrap;
}

.menu-nav a {
   font-family: "Roboto", Arial;
   font-size: 1.25em;
   display: block;
   padding: 10px;
}

.menu-nav a:hover {
   color: rgb(255, 136, 0);
}

/* INTRODUÇÃO --------------- */

.introducao {
   font-size: 3.0em;
   line-height: 0.9;
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 10px;
}


/* SOBRE --------------------- */

.sobre {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 0;
   display: flex;
   flex-wrap: wrap;
}

.sobre-info {
   flex: 2 1 300px;
   margin: 0 10px;
}

.sobre-info h1 {
   font-size: 3em;
   margin-bottom: .5em;
}

.sobre-info p {
   font-size: 1.25em;
   line-height: 1.4;
   margin-bottom: 1em;
   color: rgb(102, 102, 102);
}

.sobre-img {
   flex: 1 1 160px;
   margin: 0 10px;
}

/* PRODUTOS ----------------- */

.produtos {
   max-width: 960px;
   margin: 60px auto;
}

.produtos h1 {
   font-size: 3.0em;
   color: rgb(27, 27, 27);
   margin: 0 10px 60px 10px;
}

.produtos-container {
   display: flex;
   flex-wrap: wrap;
}

.produtos-item {
   flex: 1 1 180px;
   margin: 10px;
}

.produtos-item h2 {
   font-size: 3em;
   background: rgb(224, 224, 224);
   color: rgb(146, 146, 146);
   padding: 40px 30px;
}

.purple {
   border-top: 12px solid rgb(79, 26, 201);
}

.pink {
   border-top: 12px solid rgb(201, 26, 84);
}

.blue {
   border-top: 12px solid rgb(26, 189, 201);
}

/* PREÇO ------------------- */

.preco {
   background: rgb(224, 224, 224);
   padding: 60px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
}

.preco-item {
   flex: 1 1 260px;
   padding: 20px;
   margin: 10px;
   border: 4px solid white;
}

.preco-item h2 {
   font-size: 3em;
   color: rgb(146, 146, 146);
   text-align: center;
   margin-top: 20px;
}

.preco-item span {
   /* Lembrando que SPAN sempre é um display inline. Colocamos block porque senão não funciona margin, padding etc.. */
   display: block;
   font-size: 3em;
   font-weight: bold;
   max-width: 300px;
   margin: 20px auto;
   padding: 10px 0;
   border-top: 4px solid white;
   border-bottom: 4px solid white;
}

.preco-item sup {
   font-size: 1.5rem;
}

.preco-item ul {
   max-width: 300px;
   margin: 20px auto;
   font-size: 1.25em;
   font-style: italic;
   color: rgb(146, 146, 146);
}

.preco-item li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
}

.preco-item li::after {
   content: "";
   display: block;
   background: rgb(225, 21, 86);
   width: 6px;
   height: 6px;
   border-radius: 50%;
}

.preco-item a {
   display: block;
   max-width: 300px;
   font-size: 3em;
   font-weight: bold;
   border: 6px solid black;
   margin: 20px auto;
   padding: 10px 0;
   color: black;
   text-align: center;
}

/* QUALIDADE ----------------- */

.qualidade {
   max-width: 960px;
   display: flex;
   flex-wrap: wrap;
   margin: 60px auto;
}

.qualidade-item {
   flex: 1 1 300px;
   margin: 20px 10px;
}

.qualidade-item h2 {
   font-size: 2.25em;
   color: rgb(38, 38, 38);
   margin-bottom: 20px;
}

.qualidade-item h2::before {
   content: "";
   display: inline-block;
   width: 8px;
   height: 30px;
   margin-right: 10px;
   background: greenyellow;
   /* Esse background é só pra eu ter uma referencia */
}

/*
---- DESSA FORMA ESTARÍAMOS FALANDO DIRETAMENTE COM CADA ITEM, NESTE CASO ITEM 1 E 4 
.qualidade-item:nth-of-type(1) h2::before,
.qualidade-item:nth-of-type(4) h2::before{
background: rgb(166, 51, 228);
}
 */

.qualidade-item:nth-of-type(3n+1) h2::before {
   background: rgb(166, 51, 228);
}

.qualidade-item:nth-of-type(3n+2) h2::before {
   background: rgb(137, 228, 51);
}

.qualidade-item:nth-of-type(3n+3) h2::before {
   background: rgb(228, 187, 51);
}

.qualidade-item p {
   font-size: 1.25em;
   line-height: 1.4;
   color: rgb(15, 15, 15);
}

/* NEWSLETTER ---------------- */

.newsletter {
   background: rgb(220, 220, 220);
   padding: 60px 0;
   margin: 15px auto;
   display: flex;
   flex-wrap: wrap;
}

.newsletter-info {
   flex: 1 1 240px;
   margin: 0 10px;
}

.newsletter-info h1 {
   font-size: 3em;
   color: rgb(189, 189, 189);
}

.newsletter-info p {
   max-width: 230px;
   font-size: 1.25em;
   font-style: italic;
   color: rgb(83, 83, 83);
   margin: 10px;
}

.newsletter-form {
   flex: 2 1 260px;
   margin: 0 10px;
   align-self: center;
   display: flex;
   flex-wrap: wrap;
}

.newsletter-form input{
   flex: 3 1 200px;
   font-size: 1.25em;
   color: grey;
   font-style: italic;
   border: 4px solid rgb(255, 213, 0);
   background: transparent;
   padding: 10px;
   margin: 0px;
   border-radius: 0px;
}

.newsletter-form button{
   flex: 1 1 200px;
   font-size: 2.25em;
   font-weight: bold;
   background:rgb(255, 213, 0);
   color: whitesmoke;
   margin: 0;
   padding: 15px 10px;
   border: none;
   cursor: pointer;
}

.footer{
   display: flex;
   background: rgb(15, 15, 15);
   height: 200px;
   align-items: center;
}

.footer p{
   flex: 1;
   text-align: center;
   font-size: 2.25em;
   color: aliceblue;
}