@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');


body,
h1,
h2,
p,
li,
ul,
a {
   margin: 0px;
   padding: 0px;
}

* {
   box-sizing: border-box;
}

body {
   font-family: "Poppins", Helvetica, Arial;
   color: rgb(19, 19, 19);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
}

/* SUPER INFO ------------- */

.superinfo-bg {
   background: rgb(15, 15, 15);
   color: rgb(238, 238, 238);
}

.superinfo-bg a {
   color: rgb(238, 238, 238);
}

.superinfo {
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   margin: 0 auto;
   justify-content: space-between;
   padding: 12px 0px;
}

/* MENU ------------------- */

.menu-bg {
   background: rgb(27, 27, 27);
   color: white;
}

.menu-bg a {
   color: white;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   max-width: 960px;
   padding: 10px 0;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}

.menu-logo a {
   font-family: "Roboto", Arial;
   font-weight: bold;
   font-size: 2.25em;
   margin: 0 10px;
}

.menu-nav ul {
   display: flex;
   flex-wrap: wrap;
}

.menu-nav a {
   font-family: "Roboto", Arial;
   font-size: 1.25em;
   display: block;
   padding: 10px;
}

.menu-nav a:hover {
   color: rgb(255, 136, 0);
}

/* INTRODUÇÃO --------------- */

.introducao {
   font-size: 3.0em;
   line-height: 0.9;
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 10px;
}


/* SOBRE --------------------- */

.sobre {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 0;
   display: flex;
   flex-wrap: wrap;
}

.sobre-info {
   flex: 2 1 300px;
   margin: 0 10px;
}

.sobre-info h1 {
   font-size: 3em;
   margin-bottom: .5em;
}

.sobre-info p {
   font-size: 1.25em;
   line-height: 1.4;
   margin-bottom: 1em;
   color:rgb(102, 102, 102);
}

.sobre-img{
   flex: 1 1 160px;
   margin: 0 10px;
}

/* PRODUTOS ----------------- */

.produtos{
   max-width: 960px;
   margin: 60px auto;

}

.produtos h1{
   font-size: 3.0em;
   color: rgb(27, 27, 27);
   margin: 0 10px 60px 10px;
}

.produtos-container{
   border-top: 2px solid black;
   border-bottom: 2px solid black;
}